<div class="container">
    <div class="main">
        <div class="row">
            <div class="col"></div>
            <div class="col">
                <h1 id="one">Welcome SBI Bank</h1>
            </div>
            <div class="col"></div>
        </div>

        <!-- <div class="mb-3">       frist method --change event binding (change)
            <label for="exampleInputEmail1" class="form-label">UserName</label>
            <input type="text" (change)="onUsernameChange($event)" class="form-control" id="username" aria-describedby="emailHelp">
            <div id="emailHelp" class="form-text">We'll never share your email with anyone else.</div>
        </div> -->

        <!-- <div class="mb-3">  second method --template refrencing #username
            <label for="exampleInputEmail1" class="form-label">UserName</label>
            <input type="text" #username class="form-control" id="username" aria-describedby="emailHelp">
            <div id="emailHelp" class="form-text">We'll never share your email with anyone else.</div>
        </div> -->

        <!-- [formGroup] this is known as value binding or property binding  -->

        <!-- <form [formGroup]="loginform">   3 rd method
            <div class="mb-3">
                <label for="exampleInputEmail1" class="form-label">UserName</label>
                <input type="text" formControlName="username" name="username" class="form-control" id="username"
                    aria-describedby="emailHelp">
                <div id="emailHelp" class="form-text">We'll never share your email with anyone else.</div>
            </div> -->

        <!-- 4th method==ngModel ==two way data binding -->

        <input type="text" [(ngModel)]="test" id="">

        <form [formGroup]="loginform" (ngSubmit)="login()">
            <div class="mb-3">
                <label for="exampleInputEmail1" class="form-label">UserName *</label>
                <input type="text" formControlName="username" name="username" class="form-control" id="username"
                    aria-describedby="emailHelp">
                <div id="emailHelp" *ngIf="loginform.controls.username.touched && loginform.controls.username.errors "
                    style="color: red;" class="form-text">
                    Invalid username</div>
            </div>


            <!-- <div class="mb-3">      frist method --change event binding (change)
            <label for="exampleInputPassword1" class="form-label">Password</label>
            <input type="password"(change)="onPasswordChange($event)" class="form-control" id="password">
        </div> -->

            <!-- <div class="mb-3">
            <label for="exampleInputPassword1" class="form-label">Password</label>
            <input type="password" #password class="form-control" id="password">
        </div> -->

            <div class="mb-3">
                <label for="exampleInputPassword1" class="form-label">Password *</label>
                <input type="password" formControlName="password" name="password" class="form-control" id="password">
                <div id="emailHelp" *ngIf="loginform.controls.password.touched && loginform.controls.password.errors">

                    <label *ngIf="loginform.controls.password.errors.required" style="color: red;">Password is
                        Required</label>
                    <label *ngIf="loginform.controls.password.errors.minlength" style="color: red;">Password must be
                        atleast 5 characters</label>
                </div>
            </div>



            <!-- <button type="button" (click)="login()" class="btn btn-primary">Login</button> -->
            <!-- <button type="button" (click)="login(username.value,password.value)" class="btn btn-primary">Login</button> -->

            <!-- <button type="button" (click)="login()" class="btn btn-primary">Login</button> -->

            <button type="submit" class="btn btn-primary">submit</button>
        </form>
    </div>

</div>